.productAreaTop {
  margin-bottom: 60px;
  .productLeft {
    position: relative;
    padding: 15px;
    border: 1px solid #3333332e;
    img {
      width: 100%;
    }
    .productBadgeWrapper {
      .discountPercent,
      .newBadge,
      .featuredBadge {
        position: absolute;
        left: 20px;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #009fe3;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 30px;
        z-index: 2;
      }
      .newBadge {
        background-color: red;
      }
      .featuredBadge {
        border-radius: 100%;
        width: 35px;
        height: 35px;
      }
    }
  }
  .productRight {
    .productTitleArea {
      display: flex;
      justify-content: space-between;
      .productTitle {
        font-size: 24px;
        font-weight: 400;
        color: #434343;
      }
      .addToFavouriteWrapper {
        flex: 0 0 32px;
        margin-left: 30px;
        cursor: pointer;
      }
    }
    .productType {
      padding-top: 10px;
      color: #9d9d9d;
      font-size: 14px;
      font-weight: 300;
    }
    .productCategoryId {
      padding-top: 10px;
      color: #9d9d9d;
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 15px;
    }
    .productDescription {
      display: block;
      width: 100%;
      padding-bottom: 24px;
      margin-bottom: 30px;
      border-bottom: 1px solid #ebebeb;
      font-size: 14px;
      color: #434343;
    }
    .productPrice {
      font-size: 35px;
      margin-bottom: 25px;
      .price {
        display: flex;
        align-items: center;
        .new {
          margin-right: 15px;
          color: #009fe3;
          font-weight: 500;
        }
        .old {
          text-decoration: line-through;
          color: #333333b3;
        }
      }
    }
    .addToCart {
      display: flex;
      align-items: center;
      select {
        height: 45px;
        border: 1px solid #ebebeb;
        background-color: #fff;
        outline: none;
        padding: 10px;
        font-size: 16px;
        color: #434343;
        border-radius: 5px;
        margin-right: 24px;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        font-weight: 500;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: 0.2s ease-in-out;
        background-color: #009fe3;
        color: #fff;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
.similarProductsWrapper {
  margin-bottom: 60px;
  > .title {
    font-size: 24px;
    font-weight: 400;
    color: #434343;
    margin-bottom: 24px;
  }
}
